* {
    margin: 0px;
    padding: 0px;
}
body {
    width: 100%;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
h2 {
    font-size: 18px;
}
div {
    margin: 5%;
    padding: 20px;
    border: 2px double black;
    width: 70%;
}
p {
    font-size: 14px;
    text-align: justify;
}